spring:
  application:
    name: tradingRecord

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
trade:
  api:
    host: https://api.kiwoom.com
    endpoint: /api/dostk/acnt
    app_key: ${app_key}
    app_secret_key: ${app_secret_key}